@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Nunito', sans-serif;

// Font Sizes
$small: 13px;
$main-size: 17px;
$title: 33px;
$title-sm: 24px;

// Weight
$light: 400;
$semi-bold: 600;
$bold: 700;

// Colors
$white-color: #fff;
$black-color: #262626;
$blue-color: #2a1ecc;
$light-grey-color: rgba(251, 251, 252, 0.4);
$grey-color: rgb(131, 131, 131);
$err-color: rgba(218, 28, 28, 0.76);
